/* Global Styles */
* {
  color: #f0f0f0;
  margin: 0;
  font-family: "JetbrainsMono Nerd Font Mono", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
}

:root {
  --divs-bgcolor: linear-gradient(135deg,
      rgba(255, 255, 255, 0.05) 10.93%,
      rgba(255, 255, 255, 0) 90%);
}

html,
body {
  background-color: #05090f;
  min-height: 100vh;
  margin: 0;
}

@media only screen and (max-width: 992px) {
  * {
    margin: 0;
  }

  .navigation,
  .hero,
  .bottom-section,
  footer {
    order: 100;
    width: 95%;
    margin: 0 2.5%;
    padding: 0;
  }

  .hero__text {
    padding: 0 !important;
  }

  .bottom-section {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .navigation__logo h1 {
    font-size: 5vw;
  }

  .navigation__links a {
    font-size: 3.5vw;
  }

  .footer__button {
    width: auto;
    height: 10vw;
  }
}
